*
{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
h1
{
    font-size:50px;
    margin-top:14%;
}
.container
{
    width:450px;
    background-color:rgb(233, 229, 229);
    height:370px;
    text-align:center;
    margin:auto;
    top:auto;
    border:1px solid black;
    border-radius:10px;
}
.container .input
{
    margin:20px;
    height:40px;
    width:400px;
    font-size:15px;
    padding:10px;
}
.container .btn
{
    height: 40px;
    width: 300px;
    margin: 20px;
}
