*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main
{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    height: 100%;
    width:100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    background-color: aqua;
}
button{
    width:10%;
    height:5%;
    background-color: black;
    color:white;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}